@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --color-russet: #653514;
  --color-fern: #53833E;
  --color-pistachio: #8dc543;
  --color-flame: #E06126;
  --color-carrot: #F7941D;
  --color-black: #060201;
  --color-dark: #333333;
  --color-light-gray: #f8f9fa;
  --font-headline: 'Berlin Sans FB', sans-serif;
  --font-text: 'Roboto Light', sans-serif;
  --var-container-width: 1200px;
  --var-container-width-lg: 1440px;
  --var-container-width-md: 1000px;
  --var-container-width-sm: 800px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-text);
  background: #fff;
  color: var(--color-black);
}

body > * {
  margin: 0;
}

section {
  display: block;
  padding: 56px 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  transition: all .2s ease 0s;
}

button {
  border: unset;
  background: unset;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  cursor: pointer;
}

/* Utility Classes */

.st-flex {
  --_var-gap: 16px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.st-item {
  --_var-item-width: var(--var-item-width, 100%);
  
  max-width: 100%;
  flex-basis: var(--_var-item-width);
}

.st-half > .st-item{
  --var-item-width: calc(50% - var(--_var-gap) );
}

.st-third > .st-item{
  --var-item-width: calc(33.333333% - var(--_var-gap) );
}

.st-four > .st-item {
  --var-item-width: calc(25% - var(--_var-gap) );
}

.st-five > .st-item{
  --var-item-width: calc(20% - var(--_var-gap) );
}

.st-center {
  text-align: center;
  justify-content: center;
}

.st-flex-center {
  align-items: center;
}

.st-flex-between {
  justify-content: space-between;
}

.st-flex-reverse {
  flex-direction: row-reverse;
}

.image-cont {
  --_var-img-height: var(--var-image-height, 185px);
  display: block;
  width: 100%;
  height: var(--_var-img-height);
  overflow: hidden;
}

.image-cont img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  object-position: 100% 50%;
}

@media screen and (max-width: 1000px){
  .st-flex {
    flex-direction: column;
  }
  .st-half > .st-item, .st-third > .st-item, .st-five > .st-item, .st-four > .st-item {
    --var-item-width: 100%;
  }
}

.st-mobile {
  display: none!important;
}

@media screen and (max-width: 1000px){
  .st-mobile {
    display: flex!important;
  }
  .st-desktop {
    display: none!important;
  }
}


.st-container {
  width: 100%;
  max-width: var(--var-container-width);
  margin: 0 auto;
  position: relative;
}

.st-container-lg {
  width: 100%;
  max-width: var(--var-container-width-lg);
  margin: 0 auto;
  position: relative;
}

.st-container-md {
  width: 100%;
  max-width: var(--var-container-width-md);
  margin: 0 auto;
  position: relative;
}

.st-container-sm {
  width: 100%;
  max-width: var(--var-container-width-sm);
  margin: 0 auto;
  position: relative;
}

@media screen and ( max-width: 800px ){
  .st-container {
    padding: 0 16px;
  }
}

/* Typography */
h1, .st-h1 {
  font-family: var(--font-headline);
  font-size: 48px;
  font-weight: 100;
  line-height: 1.2;
  margin: 0;
}

h2, .st-h2 {
  font-family: var(--font-headline);
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}

h3, .st-h3 {
  font-family: var(--font-text);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
  text-transform: uppercase;
}


p, .st-p {
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

/* Buttons */
.btn {
  padding: 10px 32px;
  font-family: var(--font-headline);
  font-weight: 100;
  display: inline-block;
  transition: all .25s ease 0s;
  text-decoration: none;
  font-size: 18px;
}

.btn.v1 {
  background-color: var(--color-flame);
  color: #fff;
}

.btn.v2 {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.btn.v1:hover, 
.btn.v1:focus, 
.btn.v1:active {
  background-color: var(--color-fern);
}

.btn.v2:hover, 
.btn.v2:focus, 
.btn.v2:active {
  background-color: #fff;
  color: #000;
}

/* Content Styles */
.cnt-stl * {
  margin-bottom: 22px;
}

.drk-bg .cnt-stl * {
  color: #fff;
}

.cnt-stl h2 {
  font-size: 36px;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 24px;
  text-align: center;
}

.cnt-stl h3 {
  margin: 48px 0 24px 0;
}

.cnt-stl p, 
.cnt-stl strong {
  font-size: 1.1rem;
  line-height: 1.7;
  font-weight: 100;
  margin-bottom: 24px;
  color: var(--color-dark);
}

.cnt-stl strong {
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
}

/* Loading animation */
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

main:not(.page-home) {
  padding-top: 158px;
}