.non-profit-banner {
    position: relative;
}

.non-profit-banner .image-cont {
    --_var-img-height: 25rem;
    position: relative;
}

.non-profit-banner .image-cont:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    top: 0;
    left: 0;
}

.non-profit-banner-content {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 24px;
    max-width: 900px;
}