@import url('https://fonts.cdnfonts.com/css/berlin-sans-fb');

:root{
    --color-russet: #653514;
    --color-fern: #53833E;
    --color-pistachio: #8DC543;
    --color-flame: #E06126;
    --color-carrot: #F7941D;
    --font-headline: 'Berlin Sans FB', sans-serif;
    --font-text: 'Roboto Light', sans-serif;
    --var-container-width: 1200px;
    --var-container-width-lg: 1400px;
    --var-container-width-md: 1000px;
    --var-container-width-sm: 800px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-text);
    background: #060201;
}

body > * {
    margin: 0;
}

section {
    display: block;
    padding: 56px 0;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    transition: all .2s ease 0s;
}


button {
    border: unset;
    background: unset;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    cursor: pointer;
}

.st-relative {
    position: relative;
}

.st-hide {
    display: none;
}

.st-flex {
    --_var-gap: 16px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

.st-item {
    --_var-item-width: var(--var-item-width, 100%);
    
    max-width: 100%;
    flex-basis: var(--_var-item-width);
}

.st-half > .st-item{
    --var-item-width: calc(50% - var(--_var-gap) );
}

.st-third > .st-item{
    --var-item-width: calc(33.333333% - var(--_var-gap) );
}

.st-four > .st-item {
    --var-item-width: calc(25% - var(--_var-gap) );
}

.st-five > .st-item{
    --var-item-width: calc(20% - var(--_var-gap) );
}

.st-center {
    text-align: center;
    justify-content: center;
}

.st-stretch {
    align-items: stretch;
}

.st-align-center {
    align-items: center;
}

.st-flex-between {
    justify-content: space-between;
}

.image-cont {
    --_var-img-height: var(--var-image-height, 185px);
    display: block;
    width: 100%;
    height: var(--_var-img-height);
    overflow: hidden;
}

.image-cont img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 100% 50%;
}

@media screen and (max-width: 1000px){
    .st-flex {
        flex-direction: column;
    }
    .st-half > .st-item, .st-third > .st-item, .st-five > .st-item, .st-four > .st-item {
        --var-item-width: 100%;
    }
}

.st-mobile {
    display: none!important;
}

@media screen and (max-width: 1000px){
    .st-mobile {
        display: flex!important;
    }
    .st-desktop {
        display: none!important;
    }
}

.st-square {
    --_var-bg-color: var(--var-bg-color, unset);
    
    background-color: var(--_var-bg-color);
    width: 100%;
    aspect-ratio: 1/1;
}

.st-container {
    width: 100%;
    max-width: var(--var-container-width);
    margin: 0 auto;
}

.st-container-lg {
    width: 100%;
    max-width: var(--var-container-width-lg);
    margin: 0 auto;
}

.st-container-sm {
    width: 100%;
    max-width: var(--var-container-width-sm);
    margin: 0 auto;
}

@media screen and ( max-width: 800px ){
    .st-container {
        padding: 0 16px;
    }
}

/***Fonts***/
h1, .st-h1 {
    font-family: var(--font-headline);
    font-size: 48px;
    font-weight: 100;
    line-height: 1.2;
    margin: 0;
}

h2, .st-h2 {
    font-family: var(--font-headline);
    font-size: 36px;
    font-weight: 100;
    line-height: 1.2;
    margin: 0;
}

p, .st-p {
    font-family: var(--font-text);
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
/***Buttons***/
.btn.v1 {
    background-color: var(--color-flame);
    padding: 10px 32px;
    color: #fff;
    font-family: var(--font-headline);
    font-weight: 100;
    display: inline-block;
    transition: all .25s ease 0s;
}

.btn.v1:hover, 
.btn.v1:focus, 
.btn.v1:active,
.header-nav-cta a:hover, 
.header-nav-cta a:focus, 
.header-nav-cta a:active {
    background-color: var(--color-fern);
}

/***Content Styles***/
.cnt-stl * {
    margin-bottom: 22px;
}

