.upcoming-events {
    margin-top: -10rem;
    z-index: 3;
    position: relative;
}

.upcoming-events-header {
    margin-bottom: 24px;
}

.upcoming-events-header h2 {
    margin: 0;
}

.upcoming-events .st-container {
    background-color: #fff;
    padding: 24px;
}

.event-item a {
    position: relative;
}

.event-info {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(-60px);
    background-color: var(--color-pistachio);
    padding: 12px 8px;
    color: #fff;
}

.event-title {
    font-family: var(--font-headline);
    line-height: 150%;
}